@page "/"
@using SBQuePublisher.Services
@using SBSharedLib.Models
@inject IQueService que
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<h1>Azure Service Bus Demo</h1>
Enter a new person.


<EditForm Model="@person" OnValidSubmit="@PublishMessage" FormName="personForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" id="FirstName" class="form-control" @bind="person.FirstName" @bind:event="oninput" />
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" id="LastName" class="form-control" @bind="person.LastName" @bind:event="oninput" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private Person person = new Person();

    protected override void OnInitialized()
    {
        person = new Person();
        base.OnInitialized();
    }

    private async Task PublishMessage()
    {
        await que.SendMessageAsync(person, "person-que");
        person = new Person();
    }
}