@page "/"
@using SBTopicPublisher.Services
@using SBSharedLib.Models
@inject ITopicService topicService
@rendermode InteractiveServer

<PageTitle>Topic Publisher</PageTitle>

<h1>Azure Service Bus Topic Publisher Demo</h1>

<EditForm Model="@person" OnValidSubmit="@PublishMessage" FormName="personForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" id="FirstName" class="form-control" @bind="person.FirstName" @bind:event="oninput" />
    </div>

    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" id="LastName" class="form-control" @bind="person.LastName" @bind:event="oninput" />
    </div>

    <div class="form-group">
        <label for="MessageType">Message Type</label>
        <select id="MessageType" class="form-control" @bind="selectedMessageType">
            <option value="VIP">VIP Customer</option>
            <option value="Regular">Regular Customer</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Publish to Topic</button>
</EditForm>

@code {
    private Person person = new Person();
    private string selectedMessageType = "Regular";

    protected override void OnInitialized()
    {
        person = new Person();
        base.OnInitialized();
    }

    private async Task PublishMessage()
    {
        await topicService.SendMessageAsync(person, "person-topic", selectedMessageType);
        person = new Person();
    }
}